{%extends 'products/base.html'%}
{%block body%}
{%load static%}

<style>
#main {
margin-top:90px;
}

#image {
position:absolute;
left:90px;
top:165px;
}

h3 {
font-family: 'Aclonica';
font-size:22pt;
}
</style>

<div id="main">

<div><h3><b>{{product.name}}</b></h3></div>

<div id="image"><img src="{%static product.image%}"></div>

<div id="list">
<table id="t0">
<tr>
<th>Seller</th>
<th>Price</th>
<th>Details</th>
</tr>

<tr id="fake1">
<td>Amazon&nbsp;&nbsp;<img src="https://s3.ap-south-1.amazonaws.com/files.supersmartdeals.com/Content/images/promotions/2017/9/20/SP300.jpg" height="36" width="36"></td>
<td id="aprice">₹ {{product.selection2}}</td>
<td><center><a class="anchor" href="{{product.selection2_url}}" target="_blank"><button class="buybutton" style="vertical-align:middle"><span>Buy</span></button></a></center></td>
</tr>

<tr id="fake2">
<td>Flipkart&nbsp;&nbsp;<img src="https://s3.ap-south-1.amazonaws.com/files.supersmartdeals.com/Content/images/promotions/2017/9/20/SP297.jpg" height="36" width="36"></td>
<td id="fprice">₹ {{product.f_price}}</td>
<td><a class="anchor" href="{{product.f_price_url}}" target="_blank"><button class="buybutton" style="vertical-align:middle"><span>Buy</span></button></a></td>
</tr>

</table>
</div>

<div id="compare" class="effect1 effect2">
<table id="t">
<tr>
<th id="cbth">Compare By</th>
</tr>
<tr>
<td><button class="sortbutton" onclick="sort(1)"><b>Price -- Low to High</button></b></td>
</tr>
<tr>
<td><button class="sortbutton" onclick="sort(2)"><b>Price -- High to Low</button></b></td>
</tr>
</table>
</div>

<b id="box1"><div id="sno1">1</div></b>
<b id="box2"><div id="sno2">2</div></b>
</div>

{%endblock%}