{%extends 'products/base.html'%}
{%block body%}
<style>
	body{


	 background: url('https://s-media-cache-ak0.pinimg.com/originals/5d/8e/72/5d8e72d61c01f821f223dc3947bab576.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    overflow-y:auto;
}

</style>
	<!--login-->
	<div id="stuff" class="container container-fluid">
		<div class="login col-md-6">
			<form class="form-group" action="" method="post">
				{%csrf_token%}
				<h3 id="signin"> SIGN IN </h3>
				<input type="email" name="username" class="form-control" placeholder="Email">
				<input type="password" name="password" class="form-control" placeholder="Password">
				<div id="forgotrem">
					<div id="forgot"><a  href="#">Forgot Password?</a></div>
					<div class="form-check">
    					<label class="form-check-label">
      						<input type="checkbox" class="form-check-input">  <span>Remember me</span>
    					</label>
  					</div>
  				</div>
				<button id="sub" type="submit" class="btn btn-primary">SIGN IN</button>
			</form>
				<form method="post">
				<h3 id="nta">New to Askart?</h3>
				{%csrf_token%}
				<button id="cna" type="submit" class="btn btn-primary"><a href="/products/register">Create New Account</a></button>
				</form>
		</div>
	</div>

{% endblock %}