<!doctype html>

<html>
<head>

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <link href="css/loginstyle.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Cinzel:900|Noto+Serif" rel="stylesheet">
</head>
<body>
	<!--navbar-->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container container-fluid">
			<div class="navbar-header">
				<div class="navbar-brand">ASKART</div>	

			</div>

		</div>



		





	</nav>







	<!--login-->
	<div id="stuff" class="container container-fluid">
		<div class="login col-md-6">
			

			


		
		
		</div>

	</div>

 <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>